@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: black;
}

.scroll-text {
  display: inline-block;
  padding-right: 50px;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
}

.scroll-text-content {
  display: inline-block;
  padding-right: 50px;
} 